h1 {
	color: purple;
}

h3 {
	margin: auto;
	padding-bottom: 20px;
}

.container {
	margin-top: 35px;
}

#ropi {
	margin-top: 45px;
}

.input-field {
	background-color: pink;
	text-align: center;
	border-radius: 20px;
	height: 200px;
	margin-top: 25px;
}

.event-input {
	background-color: #CCFFFF;
	width: 60%;
	margin: auto;
	border-radius: 20px;
	text-align: center;
	padding: 20px;

}
